<div class="search-container">
  <input
    type="text"
    placeholder="Rechercher une annonce..."
    [(ngModel)]="searchTerm"
    (input)="searchAnnonces()"
    class="search-bar" />
</div>



<div class="annonce-list">
  <h1 class="title">Annonces immobilières</h1>
  <div class="annonces-container">
    <div *ngFor="let annonce of filteredAnnonces" class="annonce-card">
      <div *ngFor="let photo of annonce.photos">
        <img  [src]="'http://localhost:8004/api/annonces/files/' + photo" alt="Photo de l'annonce" style="width: 150px;">
      </div>
      <div class="annonce-details">
        <h2>{{ annonce.titre }}</h2>
        <p>{{ annonce.localisation }}</p>
        <p>{{ annonce.prix | currency: 'EUR' }}</p>
        <a [routerLink]="['/annonces', annonce.id]" class="details-button">Voir les détails</a>
      </div>
    </div>
  </div>
</div>

