/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.fullscreen-dialog .mat-dialog-container {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100vw !important;
  max-height: 100vh !important;
  overflow: hidden;
  background-color: transparent;
}
